@model quanlybanhang.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}


<h2>XÓA SẢN PHẨM</h2>

<h3 class="bg-danger">Bạn có chắc chắn muốn xóa nó không?</h3>
<div>
    @*<h4>Category</h4>*@
    <hr />
    <dl class="media-middle">
        <dt>
            @*@Html.DisplayNameFor(model => model.CategoryName)*@
            Tên danh mục
        </dt>
        @*Giá trị của trường CategoryName*@

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <hr />
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-primary" /> |
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary btn-sm" })
        </div>
    }
</div>
