@model quanlybanhang.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}

<h2>THÔNG TIN CHI TIẾT DANH MỤC</h2>

<div>
    @*<h4>Category</h4>*@
    <hr />
    <dl class="@*dl-horizontal*@ media-middle">
        <dt>
            @*@Html.DisplayNameFor(model => model.CategoryName)*@
            Tên danh mục
        </dt>
        @*Giá trị của trường CategoryName*@
        <dd>
            @Html.DisplayFor(model => model.CategoryName)

        </dd>
        <hr />
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |*@
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.CategoryID }, new { @class = "btn btn-primary btn-sm" }) |
    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary btn-sm" })
</p>
